.section-meals {
  padding: 9.6rem 0;
}

.meal {
  /* box-shadow: H V Blur rgba(); */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;

  &__img {
    width: 100%;
  }

  &__content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;

    @include respond(tab-port) {
      padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }
  }

  &__tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
  }

  &__tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $color-grey-light-2;
    border-radius: 100px;
    font-weight: 600;
  }

  &__title {
    font-size: 2.4rem;
    color: $color-grey-light-2;
    font-weight: 600;
    margin-bottom: 3.2rem;
  }

  &__attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__icon {
    font-size: 2.4rem;
    color: $color-primary;
  }
}

.diets {
  @include respond(small-tablet) {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

/* two cards Animation */
.meal:hover {
  /* transform: translate(X axis, Y axis); */
  //transform: translate(2rem, 2rem);
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.tag--vegetarian {
  background-color: $color-vegetarian;
}

.tag--vegan {
  background-color: $color-vegan;
}

.tag--paleo {
  background-color: $color-paleo;
}

/* Link styles after cards */

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
