*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* When you move with tab button on the keyboard, Important for accessibility  */
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /*  Percentage of user's browser font-size settings */
  font-size: 62.5%;
  overflow-x: hidden; /* for Mobile Navigation */

  @include respond(tab-land) {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;

  /* This is only works if there is nothing absolutely positioned to the body */
  overflow-x: hidden; /* for Mobile Navigation */
}
