.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

  @include respond(small-tablet) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;

  &__logo-col {
    display: flex;
    flex-direction: column;

    @include respond(small-tablet) {
      grid-column: span 3;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 3.2rem;
  }

  &__social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &__social-icons {
    font-size: 2.4rem;
  }

  &__copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: $color-grey-light-5;
    margin-top: auto;
  }

  &__address-col {
    @include respond(small-tablet) {
      grid-column: span 3;
    }
  }

  &__address {
    margin-bottom: 2.4rem;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  &__contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
  }

  &__nav-col {
    @include respond(small-tablet) {
      grid-row: 1 /-1;
      grid-column: span 2;
      margin-bottom: 3.2rem;
    }
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: $color-grey-light-5;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-grey-light;
  }
}
