.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem; /* fixed height */
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  /* 0H  1.2V blur3.2rem */
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

/* adding margin to section hero after the sticky nav bar kicks off */

.sticky .section-hero {
  margin-top: 9.6rem;
}
