// Colors Variables
$color-primary: #e67e22;
$color-secondary: #cf711f;
$color-tertiary: #eb984e;
$color-vegetarian: #51cf66;
$color-vegan: #94d82d;
$color-paleo: #fdd43b;
$color-dark: #45260a;

// Whites
$color-tints: #fdf2e9;
$color-tints-2: #fae5d3;

// Greys
$color-grey-light: #555;
$color-grey-light-2: #333;
$color-grey-light-3: #888;
$color-grey-light-4: #6f6f6f;
$color-grey-light-5: #767676;
$white: #fff;
